In [2]:
from requests import get
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
%matplotlib inline

In [3]:
url = (
'https://api.coronavirus.data.gov.uk/v1/data?'
'filters=areaType=overview&'
'structure={"date":"date","newCases":"newCasesByPublishDate", "newTests":"newTestsByPublishDate"}'
)
response = get(url, timeout=10)
    
if response.status_code >= 400:
    raise RuntimeError(f'Request failed: { response.text }')
        
COVIDData = response.json()

COVIDDF = pd.DataFrame(COVIDData["data"])
COVIDDF

           date  newCases  newTests
0    2020-12-15     18450       NaN
1    2020-12-14     20263  277944.0
2    2020-12-13     18447  312638.0
3    2020-12-12     21502  359457.0
4    2020-12-11     21672  395510.0
..          ...       ...       ...
343  2020-01-07         0       NaN
344  2020-01-06         0       NaN
345  2020-01-05         0       NaN
346  2020-01-04         0       NaN
347  2020-01-03         0       NaN

[348 rows x 3 columns]

In [4]:
FTSEData = pd.read_csv("FTSE.csv")
FTSEData

FileNotFoundError: [Errno 2] No such file or directory: 'FTSE.csv'

In [6]:
COVIDDF.dropna(inplace=True)
COVIDDF["newTests"] = COVIDDF["newTests"].astype(int)
COVIDDF["positive Test Percentage"] = 2
COVIDDF["positive Test Percentage"] = COVIDDF["positive Test Percentage"].astype(float)
COVIDDF['positive Test Percentage'] = list(map(lambda x,y: x/y, COVIDDF['newCases'],COVIDDF['newTests']))
COVIDDF["positive Test Percentage"] = COVIDDF["positive Test Percentage"] * 100

COVIDDF['date'] = pd.to_datetime(COVIDDF['date'], dayfirst = False, yearfirst = False)
COVIDDF.sort_values(by=["date"], inplace=True, ascending=True)

COVIDDF

          date  newCases  newTests  positive Test Percentage
259 2020-03-31      3250     11896                 27.320108
258 2020-04-01      4567     11947                 38.227170
257 2020-04-02      4522     13623                 33.193863
256 2020-04-03      4672     14629                 31.936564
255 2020-04-04      4000     16080                 24.875622
..         ...       ...       ...                       ...
5   2020-12-10     20964    404236                  5.186079
4   2020-12-11     21672    395510                  5.479507
3   2020-12-12     21502    359457                  5.981800
2   2020-12-13     18447    312638                  5.900434
1   2020-12-14     20263    277944                  7.290317

[259 rows x 4 columns]

In [15]:
FTSEData['Date'] = pd.to_datetime(FTSEData['Date'], dayfirst = False, yearfirst = False)
FTSEData

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-11,7186.399902,7250.100098,7144.700195,7247.100098,7247.100098,1507692000
1,2019-10-14,7247.100098,7251.799805,7194.200195,7213.500000,7213.500000,780579200
2,2019-10-15,7213.500000,7242.399902,7176.700195,7211.600098,7211.600098,1123687400
3,2019-10-16,7211.600098,7217.600098,7149.799805,7168.000000,7168.000000,1000484300
4,2019-10-17,7168.000000,7237.799805,7162.000000,7182.299805,7182.299805,1126096700
...,...,...,...,...,...,...,...
295,2020-12-09,6558.799805,6623.000000,6558.799805,6564.299805,6564.299805,769345300
296,2020-12-10,6564.299805,6640.700195,6561.100098,6599.799805,6599.799805,1109877200
297,2020-12-11,6599.799805,6607.399902,6520.500000,6546.799805,6546.799805,1069085700
298,2020-12-14,6546.799805,6583.700195,6524.700195,6531.799805,6531.799805,870265400
299,2020-12-15,6531.799805,6558.200195,6484.000000,6513.299805,6513.299805,737394700

In [1]:
style.use('ggplot')

g = sns.relplot(x="date", y="positive Test Percentage", kind="line", data=COVIDDF)
#g.fig.autofmt_xdate()
plt.show()

NameError: name 'style' is not defined